---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: env-secret-dgx-chargeback
stringData:
  SLURM_DB_PASSWORD: '{{ slurm.db.password }}'
  CHARGEBACK_DB_PASSWORD: '{{ chargeback.db.password }}'
  SSH_PASSWORD: '{{ ssh.password }}'
  EMAIL_SMTP_PASSWORD: '{{ email.smtp.password }}'

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: env-config-dgx-chargeback
data:
  SLURM_JOB_PREV_DAYS: '{{ slurm.job_prev_days }}'
  SLURM_ASSOC_BACKEND: '{{ slurm.assoc_backend }}'
  SLURM_PARTITION_FILTER: '{{ slurm.partition_filter }}'
  SLURM_CLUSTER_NAME: '{{ slurm.cluster_name }}'
  SLURM_DB_HOST: '{{ slurm.db.host }}'
  SLURM_DB_PORT: '{{ slurm.db.port }}'
  SLURM_DB_USERNAME: '{{ slurm.db.username }}'
  CHARGEBACK_DB_HOST: '{{ chargeback.db.host }}'
  CHARGEBACK_DB_PORT: '{{ chargeback.db.port }}'
  CHARGEBACK_DB_SCHEMA_NAME: '{{ chargeback.db.schema_name }}'
  CHARGEBACK_DB_TABLE_NAME: '{{ chargeback.db.table_name }}'
  CHARGEBACK_DB_USERNAME: '{{ chargeback.db.username }}'
  SSH_HOST: '{{ ssh.host }}'
  SSH_PORT: '{{ ssh.port }}'
  SSH_USERNAME: '{{ ssh.username }}'
  SSH_FILE_CLEANUP: '{{ ssh.file_cleanup }}'
  EMAIL_SMTP_HOST: '{{ email.smtp.host }}'
  EMAIL_SMTP_PORT: '{{ email.smtp.port }}'
  EMAIL_SMTP_USERNAME: '{{ email.smtp.username }}'
  EMAIL_TO_ADDRESS: '{{ email.to.address }}'
  EMAIL_FROM_ADDRESS: '{{ email.from.address }}'
  GPU_USD_COST_PER_MINUTE: '{{ chargeback.gpu_usd_cost_per_minute }}'

---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: dgx-chargeback
spec:
  schedule: "@daily"
  concurrencyPolicy: Allow
  failedJobsHistoryLimit: 3
  startingDeadlineSeconds: 300
  successfulJobsHistoryLimit: 3
  jobTemplate:
    spec:
      activeDeadlineSeconds: 3600
      backoffLimit: 3
      parallelism: 1
      template:
        spec:
          containers:
          - name: dgx-chargeback
            image: '{{ kubernetes.cronjob.image }}'
            imagePullPolicy: Always
            envFrom:
            - configMapRef:
                name: env-config-dgx-chargeback
            - secretRef:
                name: env-secret-dgx-chargeback
          restartPolicy: Never
          nodeSelector:
             node-role.kubernetes.io/master: ""

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dgx-chargeback-api
spec:
  selector:
    matchLabels:
      app:  dgx-chargeback-api
  replicas: {{ kubernetes.api.replicas }}
  template:
    metadata:
      labels:
        app: dgx-chargeback-api
      annotations:
        ansible.config.update/date: {{ template_run_date }}
    spec:
      containers:
      - name: dgx-chargeback-api
        image: '{{ kubernetes.api.image }}'
        command: ["/app/docker-entrypoint.sh"]
        args:
          - "api"
        ports:
        - containerPort: 8000
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        envFrom:
          - configMapRef:
              name: env-config-dgx-chargeback
          - secretRef:
              name: env-secret-dgx-chargeback
      nodeSelector:
          node-role.kubernetes.io/master: ""

---
apiVersion: v1
kind: Service
metadata:
  name: dgx-chargeback-api
spec:
  type: NodePort
  selector:
    app: dgx-chargeback-api
  ports:
  - name: http
    port: 8000
    targetPort: 8000
    nodePort: 30800
